# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:29092
KAFKA_TOPIC_KRAKEN=kraken.trades

# Kraken WebSocket
KRAKEN_WEBSOCKET_URL=wss://ws.kraken.com/v2
KRAKEN_SYMBOLS=BTC/USD,ETH/USD,XRP/USD

# Postgres (Airflow metadata)
POSTGRES-USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

# Delta paths
BRONZE_PATH=/data/bronze
SILVER_PATH=/data/silver
GOLD_PATH=/data/gold