# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
.pytest_cache/
.ruff_cache/

# Env
.env

# Data / Delta
data/
*.parquet
*.delta/
delta-lake/

# Spark
spark-warehouse/
metastore_db/
derby.log

# dbt
transform/kraken_analytics/target/
transform/kraken_analytics/dbt_packages/
transform/kraken_analytics/logs/

# Airflow
airflow/logs/
airflow/.airflow/

# Docker
*.pid

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp